body {
  padding-top: 5rem;
}

.template {
  padding: 3rem 1.5rem;
  margin:6rem;
  text-align: center;
}

.startmenu {
  margin: 3rem;
}

.game-content {
  display: none;
}

.SMB {}

.btn-outline-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border: 2px solid;
}

.btn-outline-secondary:hover {
  background-color: #000;
  border-color: #000;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Sticky footer styles
-------------------------------------------------- */
.dropdown-item:active {
  background-color: #868e96;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
