.game-content {
  display: none;
}

.SMB_new {}

.SMB_load {}

.startbtn {
  float:center;
}

.btn-main {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border: 2px solid;
  color: black;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.btn-main span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-main span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-main:hover span {
  padding-right: 25px;
}

.btn-main:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-outline-secondary {
  color: #000;
  background-color: #fff;
  border-color: #000;
  border: 2px solid;
}

.btn-outline-secondary:hover {
  background-color: #000;
  border-color: #000;
}

.nxtbtn {
  float: left;
}