<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Nigirite">
    <meta name="author" content="Nigirite">
    <link rel="icon" href="https://i.ytimg.com/vi/-nhXFFJfLv8/hqdefault.jpg">

    <title>Ending 01 - Selflessness</title>

    <script src="../static/jquery.js"></script>
    <script src="../static/bad_end.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="../static/core/libs/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bad_end.css" rel="stylesheet">
  </head>


<!-- Main body
************************************************ -->
<body>
    <main role="main">
        <div class="textbox">
            <hr /> 
            <br>
            <div class="container text-justify game-content">
                <div class="text1">
                <p>
                    As the days pass it soon becomes apparent that you are now a high risk candidate for the virus. 
                </p>
                </div>

                <div class="text2">
                <p>
                    You cut off all patient contact, send a explanatory email out from your phone and proceed to isolate yourself.
                </p>
                </div>

                <div class="text3">
                <p>
                    The following two days of prayer seem too little, too late as you start to exhibit the very same symptoms you used to tell others to look out for. 
                </p>
                </div>

                <div class="text4">
                <p>
                     Feverish, your vision blurry, you can’t help but regret your actions before. Your life, fading away, had never seemed so important to you before.
                </p>
                </div>

                <div class="text5">
                <p>
                     The faces at the glass window are sorrowful, and many. Clearly word has spread that the selfless doctor trainee has succumbed.
                </p>
                </div>

                <div class="text6">
                <p>
                     You try to console yourself with the warmth in those various gazes, but in your last moments you cannot help but question whether it was worth it. 
                </p>
                </div>

                <div class="text7">
                <p>
                     With one last feeble wave at the window (or is it just a weary twitch of a finger, you can no longer tell), you slip into a disturbing yet comfortable darkness.
                </p>
                </div>

                <div class="text8">
                <p>
                     Nigirite General holds a short but nice little memorial for you, but the subsequent days bring only more chaos and death. Morale plummets, and order slowly erodes.
                </p>
                </div>

                <div class="text9">
                <p>
                     As the virus rages through the city, what remnants of hope that remained quickly disappear.
                </p>
                </div>

                <div class="text10">
                <p>
                     Perhaps things wouldn't have deteriorated so quickly had you been around. Perhaps they would have, anyway.
                </p>
                </div>

                <div class="text11">
                <p>
                     You will never know.
                </p>
                </div>

                <div class="text12">
                <p>
                     YOU DIED
                </p>
                </div>
            </div>
        
            <br>
            <hr />
            <button type="button" class="nxtbtn btn-outline-secondary btn-sm rounded-0" style="float: right">Next</button>
        </div>
    </main>
</body>