<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Nigirite">
    <meta name="author" content="Nigirite">
    <link rel="icon" href="http://i.4cdn.org/a/1515703287633.jpg?__cf_waf_tk__=066709002eqDviDIZHIoWokday4TKK_L_RLM">

    <title>Ending 02 - Despair</title>

    <script src="../static/core/libs/jquery.js"></script>
    <script src="../static/bad_end.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="../static/core/libs/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bad_end.css" rel="stylesheet">
  </head>


<!-- Main body
************************************************ -->
<body>
    <main role="main">
        <div class="textbox">
            <hr /> 
            <br>
            <div class="container text-justify game-content">
                <div class="text1">
                <p>
                    No one blames you for the losses; after all, everyone is doing their best, and you are but a medical student. Blame or not, though, there seems to be a pall over Nigirite General: where people used to appear grimly determined in their tasks, they are now merely grim.
                </p>
                </div>

                <div class="text2">
                <p>
                    Upon consulting the duty rosters, you see why: Nigirite General hardly has enough people left to keep operations up. Enough, but barely so. It will work out, you tell yourself, adversity brings out the best in us. And, with everybody doing their best, things will work out. 
                </p>
                </div>

                <div class="text3">
                <p>
                    Life, unfortunately, is not so kind.
                </p>
                </div>

                <div class="text4">
                <p>
                    Hope is a powerful resource, but with the recent spate of deaths, it has run dry.
                </p>
                </div>

                <div class="text5">
                <p>
                    It began with a batch of vaccines disappearing, then some rations. You turn a blind eye, determined to ensure that in the end you can face failure with a clear conscience.
                </p>
                </div>

                <div class="text6">
                <p>
                    Things, however, truly escalate when a group of nurses can no longer be found. Their quarters are found to be stripped bare, and an entire carton of can food is missing from the stores.
                </p>
                </div>

                <div class="text7">
                <p>
                    You and the other medical staff try your best to quash the news, but somehow it spreads like wildfire throughout Nigirite. That very day, the remaining policemen grab whatever they can, and walk out in full view of the packed hospital lobby.
                </p>
                </div>

                <div class="text8">
                <p>
                   The esteemed Dr. Johnson steps up to address the crowd, and for a moment it seems that his sonorous baritone might just be what Nigirite needed. Then an angry cry rises from the crowd, and the spell is broken, order is lost. The very people who once pitifully looked to you to save them now appear threatening, dangerous.
                </p>
                </div>

                <div class="text9">
                <p>
                   Hours later, you and what remains of Nigirite’s staff survey the ruined hospital. Not even the bags of saline solution were left untouched, with looters simply grabbing whatever they could. You blankly cradle the shards and ashes on the once-pristine floor, and somehow all you can hear is weeping. 
                </p>
                </div>

                <div class="text10">
                <p>
                    A wave of fatigue rises out of nowhere, and you find that you cannot muster the strength to say or do anything.
                </p>
                </div>

                <div class="text11">
                <p>
                    No matter, there is nothing you <strong>can</strong> do to change things. Hope has died this day, and without food or <strong>serum</strong>, so will you. 
                </p>
                </div>

                <div class="text12">
                <p>
                    YOU TRIED
                </p>
                </div>
            </div>
        
            <br>
            <hr />
            <button type="button" class="nxtbtn btn-outline-secondary btn-sm rounded-0" style="float: right">Next</button>
        </div>
    </main>
</body>