<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Nigirite">
    <meta name="author" content="Nigirite">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Ending 01 - Selflessness</title>
    
    <script src="../static/main_page.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css " rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">
  </head>



<body>
    <main>
        <hr />
        <div class="container text-justify game-content">
          <div class="text1">
            <p>
                As the days pass it soon becomes apparent that you are now a high risk candidate for the virus. You cut off all patient contact, send a explanatory email out from your phone and proceed to isolate yourself.
            </p>
          </div>

          <div class="text2">
            <p>
                The following two days of prayer seem too little, too late as you start to exhibit the very same symptoms you used to tell others to look out for. Feverish, your vision blurry, you can’t help but regret your actions before. Your life, fading away, had never seemed so important to you before.
            </p>
          </div>
        </div>
        

        <div class="template">
            <hr />
            <div class="next">
              <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 nextbtn" style="float: right;"style="float: right;">Next</button>
            </div>
        </div>
    </main>
</body>