{% extends "index.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='debug_database.js') }}"></script>

    <!-- Scripts for blueimp/jQuery-File-Upload -->
    <script src="{{ url_for('static', filename='core/libs/jquery.ui.widget.js') }}"></script>
    <script src="{{ url_for('static', filename='core/libs/jquery.iframe-transport.js') }}"></script>
    <script src="{{ url_for('static', filename='core/libs/jquery.fileupload.js') }}"></script>

    <style>
    .startmenu {
      display: inline;
      margin: 0.5rem !important;
    }

    .template {
      padding: .5rem !important;
      margin: .5rem !important; 
      display: block;
    }

    #downloadbutton, #uploadbutton {
      margin: 0.1rem;
    }

    .selected-table {
      margin: 0.5rem;
    }

    #fileupload {
      display:none;
    }

    .thead-light {
      color: #495057;
      background-color: #e9ecef;
    }
    </style>
{% endblock %}


{% block content %}
      <div class="template">
        <h2>
          Debugging tables
        </h2>
        <hr />

        <div class="startmenu">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select table
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{ url_for('debug_database', table_name='saved_games') }}">saved_games</a>
              <a class="dropdown-item" href="{{ url_for('debug_database', table_name='snippets') }}">snippets</a>
              <a class="dropdown-item" href="{{ url_for('debug_database', table_name='choices') }}">choices</a>
            </div>
          </div>
  {% if query_results %}
          <div class="selected-table">
            <p>
              Showing results for table <code>{{ table_name }}</code>
              ({{ query_results|length - 1 }} rows)
            </p>
            <button type="button" class="btn btn-inverted" id="downloadbutton">
              Download <code>{{ table_name }}</code>
            </button>
            <button type="button" class="btn btn-inverted" id="uploadbutton">
              Upload to <code>{{ table_name }}</code>
            </button>
            <input id="fileupload" class="btn btn-inverted" type="file" accept="text/csv" name="file" data-url="{{ url_for('debug_database_upload', table_name=table_name) }}">
          </div>
          <script>
          $(function () {
              $('#fileupload').fileupload({
                  dataType: 'json',
                  done: function (e, data) {
                    alert(Object.values(data.response().result) + ' uploaded successfully, reloading page.');
                    window.location.href = window.location.href;
                  }
              });
          });
          </script>
          <script>
          $(document).ready(function() {
            // $('.container').addClass('d-flex');
            // $('.container').addClass('p-2');
            $('#uploadbutton').click(function() {
              $("input[type='file']").trigger('click');
            });

            $('#downloadbutton').click(function() {
              window.location.href = "{{ url_for('debug_database_download', table_name=table_name) }}";
            });
          });
          </script>
  {% endif %}
        </div>
      </div>

  {% if query_results %}
      
      <table class="table table-sm">
    {% for row in query_results %}
      {% if loop.first %}
        <thead class="thead-light">
          <tr>
            {% for cell in row %}
            <th scope="col">{{ cell }}</th>
            {% endfor %}
          </tr>
        </thead>
      {% else %}
        <tbody>
          <tr>
        {% for cell in row %}
          {% if loop.first %}
            <th scope="row">{{ row[0] }}</th>
          {% else %}
            <td>{{ cell }}</td>
          {% endif %}
        {% endfor %}
          </tr>
        </tbody>
      {% endif %}
    {% endfor%}
      </table>

  {% endif %}
{% endblock %}

