<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Nigirite">
    <meta name="author" content="Nigirite">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--
    <title>You are a first-year medical student</title>

    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    
    <- Page scripts ->
    {% block head %}
    {% endblock %}
    
    <- Bootstrap core CSS ->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }} " rel="stylesheet">

    <- Custom styles for this template ->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"> 

            <-remove this later -->
            <title>You are a first-year medical student</title>

            <script src="../static/jquery.js"></script>
            <script src="../static/style.js"></script>
            
            <!-- Page scripts -->
            <script src="../static/settings.js"></script>

            <style>
              .startmenu {
                display: inline;
              }
            </style>

            <!-- Bootstrap core CSS -->
            <link href="../static/bootstrap.min.css" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="../static/style.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container">

      {% block content %}
      {% endblock %}

      <!--Settings Screen -->
      <div id="settings_screen">
        <!-- Back Button -->
        <a href="#" class="cancel_button">&times;</a>
        <!-- Settings and stuff -->
        <div class="settings">
          <h4>Settings</h4>

          <p><strong>Master Volume: 
            <input type="button" value="-" onClick="subtract_one()">
            <span class= "slider_value" id="master_volume_value" style="color:black;font-weight:bold;">50</span>
            <input type="button" value="+" onClick="add_one(1,'master_volume_value')">
          </strong></p>   

          <input type="range" min="0" max="100" class="slider" id="master_volume" onchange="show_value(this.value,'master_volume_value')" >
          <p></p>

          <p><strong>SFX: 
            <span class= "slider_value" id="sfx_value" style="color:black;font-weight:bold;">50</span>
          </strong></p>
          <input type="range" min="0" max="100" class="slider" id="sfx" onchange="show_value(this.value,'sfx_value')">
          <p></p>

          <p><strong>BGM: 
            <span class= "slider_value" id="bgm_value" style="color:black;font-weight:bold;">50</span>
          </strong></p>
          <input type="range" min="0" max="100" class="slider" id="bgm" onchange="show_value(this.value,'bgm_value')">
          <p></p>
        </div>
      </div>
      <!-- Shaded Overlay -->
      <div id="cover"></div>

    </main><!-- /.container -->

    
    <footer class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-light">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link text-dark" href="{{ url_for('main_page') }}">Home</a>
          </li>
          <li class="nav-item active">
              <a target="_blank" class="nav-link text-muted" href="https://github.com/threewordhaiku/firstyearmedicalstudent">GitHub</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link text-muted debugging" href="{{ url_for('debug_database') }}" >Database</a>
          </li>
          <li class="nav-item active">
            <!-- Settings Button -->
            <div class="settingsbtn">
            <a href="#settings_screen">Settings</a>
            </div>              
          </li>
        </ul>
      </div>
    </footer>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery-slim.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </body>
</html>
