<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Nigirite">
    <meta name="author" content="Nigirite">
    <link rel="icon" href="https://myanimelist.cdn-dena.com/r/360x360/images/characters/11/242945.jpg?s=1525e676b23f4e391bfbfe5dc88b0b8b">

    <title>You are a first-year medical student</title>

    <script src="../static/core/libs/jquery.js"></script>
    <script src="../static/core/style.js"></script>
    
    <!-- Page scripts -->
    <script src="../static/main_page.js"></script>

    <style>
      .startmenu {
        display: inline;
      }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="../static/core/libs/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/core/style.css" rel="stylesheet">
  </head>


<!-- Main
************************************************* -->
  <body>
    <main role="main" class="container">
      <div class="template">
        <h2>
          You are a first-year<br />
          medical student.
        </h2>
        <hr />
        
        <!-- Name -->
        <div>
          <form action="/action_page.php" style="text-align: left;">
            <label for="name"><strong>Load Game</strong></label>
            <input type="text" id="name" name="name" placeholder="Enter Game Code..">
            <br><br>
            <a href="title_page.html"><button type="button" class="nxtbtn btn-left rounded-0" style="float: left"><span>Back to Main</span></button></a>       
            <a href="game.html"><button type="button" class="nxtbtn btn-right rounded-0" style="float: right"><span>Submit</span></button></a>
          </form>
        </div>

      </div>
    </main>
  </body>


      </div>
    </main>
  </body>