{% extends "index.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='main_page.js') }}"></script>
{% endblock %}


{% block content %}
      <div class="template">
        <h2>
          You are a first-year<br />
          medical student.
        </h2>
        <hr />

        <div class="startmenu" style="display:inline;">
          <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 SMB">New</button>
          <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 SMB">Load</button>
        </div>
      </div>

      <div class="container text-justify game-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis nisl mollis turpis finibus, in faucibus elit convallis. Nam bibendum ullamcorper orci, at ultrices leo gravida id. Phasellus a elit non dui malesuada posuere eu vitae risus. Sed pretium ac nisi quis malesuada. Vivamus eleifend facilisis purus vitae ultricies. Integer elementum tincidunt augue id aliquam. Fusce et leo dolor. Proin nec orci magna. Phasellus suscipit mattis ante at porta.
        </p>
        <p>
          Donec eget orci lacinia, maximus metus sit amet, hendrerit ligula. Donec sed tempus turpis, eu imperdiet tellus. Sed sed cursus orci, vel suscipit mi. Maecenas pellentesque, augue eget placerat iaculis, felis purus pretium lectus, ac elementum dui libero egestas nunc. Etiam et luctus dolor. Curabitur vitae vehicula nulla. Maecenas eget iaculis tellus. Sed suscipit auctor dui sed accumsan. Nulla ut gravida magna.
        </p>
      </div>
{% endblock %}