<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Nigirite">
    <meta name="author" content="Nigirite">
    <link rel="icon" href="https://myanimelist.cdn-dena.com/r/360x360/images/characters/11/242945.jpg?s=1525e676b23f4e391bfbfe5dc88b0b8b">

    <title>You are a first-year medical student</title>

    <script src="../static/core/libs/jquery.js"></script>
    <script src="../static/core/style.js"></script>
    
    <!-- Page scripts -->
    <script src="../static/main_page.js"></script>

    <style>
      .startmenu {
        display: inline;
      }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="../static/core/libs/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/core/style.css" rel="stylesheet">
  </head>


<!-- Main
************************************************* -->
  <body>
    <main role="main" class="container">
      <div class="textbox">
        <hr /> 
        <br />
        <div class="container text-justify game-content">
          <div class="text">
            <p>
              Dr Smith: “Come in, have a seat. Let me check, you are...”
            </p>

            <form action="/action_page.php" style="text-align: left;">
              <input type="text" id="name" name="name" placeholder="Enter your name..">
              <br><br>   
            </form>

          </div>
        </div>
        <hr />
        <a href="game.html"><button type="button" class="nxtbtn btn-outline-secondary btn-sm rounded-0" style="float: right">Next</button></a>
      </div>

    </main>
  </body>