<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Project Nigirite">
    <meta name="author" content="Nigirite">
    <link rel="icon" href="https://myanimelist.cdn-dena.com/r/360x360/images/characters/11/242945.jpg?s=1525e676b23f4e391bfbfe5dc88b0b8b">

    <title>You are a first-year medical student</title>

    <script src="../static/core/libs/jquery.js"></script>
    <script src="../static/style.js"></script>
    
    <!-- Page scripts -->
    <script src="../static/main_page.js"></script>

    <style>
      .startmenu {
        display: inline;
      }
    </style>

    <!-- Bootstrap core CSS -->
    <link href="../static/core/libs/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/core/style.css" rel="stylesheet">
    <link href="../static/title_page.css" rel="stylesheet">
  </head>

<!-- Main
************************************************* -->
  <body>
    <main role="main" class="container">
      <div class="template">
        <h2>
          You are a first-year<br />
          medical student.
        </h2>
        <hr />
        
        <!-- Start Menu Button -->
        <div class="startmenu">
          <button type="button" class="btn btn-outline-secondary btn-sm rounded-0 SMB_new">New</button>
          <a href="load_account_page.html"><button type="button" class="btn btn-outline-secondary btn-sm rounded-0 SMB_load">Load</button></a>
        </div>

      </div>

      <!-- Starting Desc. -->
      <div class="container text-center game-content">
        <p>
          You will be making ethical decisions about....
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p></p>
        <br />
        <a href="new_account_page.html"><button type="button" class="btn btn-main rounded-0 startbtn"><span>Start</span></button></a>
      </div>
    </main>